body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: white;
    color: #696969;
    padding: 3px;
}


.logo{
    width: 110px;
    height: auto;
    
}

.header-container{
    display: flex;
    background:white;
    justify-content: flex-start;
    align-items: flex-end; 
    padding: 10px;
}

.nav-item{
    font-family: Georgia, serif;
    text-decoration: none;
    display:inline-block;
    flex:1 1 auto;
    cursor:pointer;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
}
.nav-item a{
    text-decoration: none;
}

.nav-item a:visited{
    color: black;
}

.nav-item a:active{
    color:black
}

.nav-item a:hover{
    color:#cc9900
}


.nav-item.name{
    font-size: 35px;
    text-decoration: none;
    font-weight: bold;
}

.login-button button{
    cursor: pointer;
    margin-left: 400px;
    border-radius: 0.4em;
    font-size: 30px;
    padding: 10px;
    color:rgb(49, 45, 45);
    background-color: #cc9900;
    
}

.login-button button:hover{
    color:rgb(110, 91, 28);

}



/***** following is body*****/

.body-page{
    background-color: white;
    margin: 10px;
    padding:15px;
    border:3px solid #cc9900;
    border-radius: 15px;
    
}
h2{
    font-family: Georgia, serif;
    color: black;
    font-size: 55px;
    border-bottom: 1px solid #d4bb70;
    border-radius: -10px;
    text-align: center;
}

h3{
    font-family: Georgia, serif;
    color: rgb(90, 87, 74);
    font-size: 30px;
    text-align: center;
}

.all-cards-container{
    display:flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
    
}

img{
    width: 300px;
    height:auto;
    flex:1 1 auto;
}

.cards {
    box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.326);
    transition: 0.5s;
    align-self: center;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.cards:hover {
    box-shadow: 0px 18px 27px 0px rgba(0, 0, 0, 0.302);
  }

  